<!DOCTYPE html>
<html lang="en">
<head>
<title>mi negocio</title>
<meta charset="utf-8">
<link href="style.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<div class="header">
  <h1>HAMBURGUESAS EL NEGRO</h1>
  <p>las mejores hamburguesas de trodo saltillo.</p>
</div>

<div class="topnav">
<h2>BIENVENIDO</h2>
</div>
  
<div class="row">
  <div class="column side">
    <h2>VIP    FOOD</h2>
    <p>la hamburguesa con dos carnes y tres quesos diferentes lleva tambien dos tiras de tocino.
  </div>
  <div class="column middle">
    <h2>Presentacion</h2>
    <p>Tenemos una gran variacion entre nuestras mejores hamburguesas las cuales llevan una de las mehjores carnes de todas , tenemos una variedad que van desde una carne hasta la triple y las hamburguesas veganas </p>
    <p>Las carnes son cocinadas a su mejor punto su pan tostado su queso derretido con su lechuga y su tomate puede ser al carbon o normal , eso es a tu eleccion , la puedes pedir con doble de queso y doble carne.</p>
    <script src="script.js"></script>
  </div>
  
  <div class="column side">
    <h2>VIP DRINKS</h2>
    <p>si te gustan las bebdias alcohólicas tenemops de los mejores vinos y licores , o , tambien tenemos refrescos o aguas locas.</p>
   <img src="https://us.123rf.com/450wm/kovalnadiya/kovalnadiya2104/kovalnadiya210400283/192848896-hamburguesa-casera-con-carne-de-res-a-la-parrilla-verduras-salsa-sobre-fondo-r%C3%BAstico-de-madera.jpg?ver=6"></p> 
  </div>
</div>
  
</body>