* {
  box-sizing: border-box;
}

body {
  margin: 0;
    backgraund-image: url;
}

/* Style the header */
.header {
  background-color: #bcb8b8;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #63635f;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #000000;
  color: #000000;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
<style>
 <img="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Ffondos-hamburguesas&psig=AOvVaw2Ms_sKRw0UgOTprculqcTZ&ust=1680016568204000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNDAvcez_P0CFQAAAAAdAAAAABAE"> 
</style>
}